.page-background {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    height: max-content;
    min-height: 100%;
}


.event-list {
  width: 50%;
  border: 1px solid #000;
  border-radius: 2rem;
  padding: 1%;
  margin-right: 1%;
}